@page "/serialport"   

<h3>SerialPort</h3>
 
<Switch OnColor="Color.Primary" IsDisabled="true" OnText="开启" OffText="关闭" @bind-Value="@SpIsConnected" /> 

<Select Color="Color.Primary" Items="Ports" @bind-Value="SelectedPort"></Select>
<Select Color="Color.Primary" Items="BaudRates" @bind-Value="SelectedBaudRate"></Select>
  
<Button IsDisabled="@CanConnect" OnClick="@BtnConn" Color="Color.Primary">连接</Button>
<Button IsDisabled="@(!SpIsConnected)" OnClick="@BtnDisconn" Color="Color.Primary">断开</Button>

<Card>
    <HeaderTemplate>接收</HeaderTemplate>
    <BodyTemplate>
        <Textarea rows="4" readonly @bind-Value="@Received" />
    </BodyTemplate>
</Card>

<Card>
    <HeaderTemplate>发送</HeaderTemplate>
    <BodyTemplate>
        <Textarea rows="4" @bind-Value="@Send" />
        <Button IsDisabled="@(!SpIsConnected || string.IsNullOrWhiteSpace(Send))" OnClick="@BtnSend" Color="Color.Primary">发送</Button>
    </BodyTemplate>
</Card>